<%- include('./partials/header') %>

<h2>Sign up</h2>
<form>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Sign up</button>
</form>
<%- include('./partials/footer') %>

<script>
  const form = document.forms[0];
  //select the errors elements
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');
  console.log(emailError);
  //Grab the values when the form is submitted
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    emailError.textContent = '';
    passwordError.textContent = '';

    const email = form.email.value;
    const password = form.password.value;
    //console.log(email, password);
    try{
      const res = await fetch('/signupp',{
      method : 'POST',
      body : JSON.stringify({email,password}),
      headers : {'Content-Type':'application/json'}
    })
    console.log(res);
    const data = await res.json();
    console.log(data);
    if(data.errors){
      emailError.textContent = data.errors.email;
      passwordError.textContent = data.errors.password;
    }else{
      location.assign('/');
    }
    }catch(err){
      console.log("Dommage :/ ");
      console.log(err);
    }
  });
</script>
